html, body
{
	margin: 0px;
	padding: 0px;

	/*font-family: Tahoma;*/
	font-size: 13px;
	/*color: #1F2C4F;*/

}



header
{
	height: 198px;
	background-color: #145281;
	width: 1000px;
	margin: 0px auto;
/*	background-image: url("http://od.gp.gov.ua/main/img/d/hbg.jpg");*/
	text-align: left;
}


.headblock
{
	margin: 0px;
	height: 198px;
	width: 1000px;
	background-image: url("http://od.gp.gov.ua/main2/img/d/headerbg.jpg");
	position: absolute;
}


.headblock .logo
{
	width: 105px;
	height: 127px;
	position: absolute;
	display: block;
	top: 30px;
	left: 57px;
	text-decoration: none;
}

.headblock .logo1
{
    display: block;
    height: 127px;
    position: absolute;
    right: 25px;
    text-decoration: none;
    top: 55px;
    width: 105px;
}

.pageName
{
	position: absolute;
	margin: 83px 0 0 155px;
	background: url("http://od.gp.gov.ua/main2/img/d/companyName.png") no-repeat;
	  width: 720px;
	height: 30px;
	font-size: 0px;
	line-height: 0px;
	 font-family: Times New Roman;
    font-size: 0px;
    font-weight: 500;
    display: block;
}

