<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <link rel="icon" type="image/ico" href="/media/img/favicon.ico" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<section class="main">
    <h1>Прокуратура Одеської області</h1>

    {% block header %}{% endblock %}
    {% block left %}{% endblock %}
    {% block right %}{% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}

        <hr>
        <p>FOOTER</p>
    {% endblock %}
</section>
</body>
</html>