<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="/media/img/favicon.ico" />
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <section class="headblock">
        <a href="/" class="logo"><img src="/media/img/main/header/gp.png" alt="" /></a>
        <div class="logo1"></div>
        <div class="pageName"></div>
    </section>
</header>
<nav class="topMenu">
    <div class="static_menu"><a href="/structure/" target="_blank">Структура</a></div>
    <div class="static_menu"><a href="/file/">Экспорт в Excel</a></div>
</nav>
{% block header %}{% endblock %}
{% block left %}{% endblock %}
{% block right %}{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}
</body>
</html>