{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popup.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header>
    <section class="headblock">
        <a href="/" class="logo"><img src="{% static "img/main/header/gp.png" %}" alt="" /></a>
        <a href="/admin/" class="logo1"><img src="{% static "img/main/header/od.png" %}" alt="" /></a>
        <div class="pageName"></div>
    </section>
</header>
<nav class="topMenu">
    <div class="static_menu"><a href="/structure/" target="_blank">Структура</a></div>
{#    <div class="static_menu"><a href="/file/">Экспорт в Excel</a></div>#}
    <div class="static_menu"><a>Экспорт в Excel</a></div>
</nav>
{% block header %}{% endblock %}
<div id="content"> {% block content %}{% endblock %}</div>
{% block footer %}
    <script src="{% static "js/button_down.js" %}"></script>
    <!--  HTML кнопки наверх -->
    <div id="top-link">
        <a href="#top" id="top-link-a"><span id="topicon"></span><span id="text">наверх</span></a>
    </div>
{% endblock %}
</body>
</html>
