<form name="filter" action="/t/" method="GET" accept-charset="UTF-8" autocomplete="off">
    <table align="center">
        <tr>
            <th>Поиск по ФИО</th>
            <th>Фильтрация по прокуратуре</th>
        </tr>
        <tr>
            <th><input type="text" name="employee"></th>
            <th><input type="text" name="prosecutors_office"></th>
            <th><input type="reset" value="Очистить"></th>
        </tr>
        <tr>
            <th>Телефон</th>
            <th>Управление</th>
        </tr>
        <tr>
            <th><input type="text" name="telephone"></th>
            <th><input type="text" name="department"></th>
        </tr>
        <tr>
            <th></th>
            <th>Отдел</th>
        </tr>
        <tr>
            <th><input type="submit" align="right" value="Поиск"></th>
            <th><input type="text" name="division"></th>
        </tr>

    </table>
</form>