{% load staticfiles %}
<script type="text/javascript" src="{% static "js/selects.js" %}"></script>

<form name="filter" action="." method="GET" accept-charset="UTF-8" autocomplete="off">
    <table align="center">
        <tr>
            <th colspan="2" style="padding-bottom: 18px; font-size: 28px;">Поиск</th>
        </tr>

        <tr>
            <th>ФИО</th>
            <th>Прокуратуре</th>
        </tr>
        <tr>
            <th><input type="text" name="employee" size="30"></th>
            <th> <select name="prosecutors_office" id="id_prosecutors_office">
                <option selected value="" disabled>Выберите Прокуратуру</option>
                {% for po in po_list %}
                    <option value={{ po.id }}>{{ po }}</option>
                {% endfor %}
            </select></th>
        </tr>
        <tr>
            <th>Телефон</th>
            <th>Управление</th>
        </tr>
        <tr>
            <th><input type="text" name="telephone" size="30"></th>
            <th> <select name="department" id="id_department" disabled="disabled">
                <option selected value="" disabled>Выберите Управление</option>
            </select></th>
        </tr>
        <tr>
            <th></th>
            <th>Отдел</th>
        </tr>
        <tr>
            <th></th>
            <th> <select name="division" id="id_division" disabled="disabled">
                <option selected disabled>Выберите Отдел</option>
            </select></th>
        </tr>
        <tr>
            <th><input type="reset" value="Очистить" style=" font-family:Arial, Helvetica, sans-serif;font-size: 16px;"></th>
            <th><input type="submit" value="Поиск"></th>
        </tr>
    </table>
</form>