<form name="ffilter" action="/main_filtered" method="post">
<input name="fltr" type="hidden" value="1"/>

<table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin:0;"><tr>
<td width="1%" nowrap="nowrap"><div class="small clk" style="background-color:#0e2328;width:130px;padding:2px;text-align:center;color:skyblue;" onclick="toggleFilter()"><b id="fltrtab">– скрыть фильтр</b></div></td>
<td width="99%" align="right" class="small" nowrap="nowrap" style="padding:2px;">&nbsp;</td>
</tr></table>

<div id="fltrdiv" class="small" style="margin: 0; display:block;">
<div style="background-color:#0e2328;margin:0;padding:1px;">
<table width="100%" cellspacing="0" cellpadding="4" border="0" style="margin:0;">
<tr>
<td width="34%">
	<table class="small filter" width="100%" cellspacing="0" cellpadding="2" border="0">
	<tr><td class="vert" height="21" nowrap="nowrap">В названии:</td><td class="vert"><input name="str" type="text" value="" maxlength="30" style="width:156px;"/></td></tr>
	<tr><td class="vert" height="21">Тип:</td><td class="vert"><select name="itype" style="width:160px;"><option value="-1">Любой</option>
	<option value="1">Swords</option><option value="2">Axes</option><option value="3">Scepters</option><option value="4">Spears</option><option value="5">Bows & crossbows</option><option value="6">Staves</option><option value="7">Sticks</option><option value="8">Books SU</option><option value="9">Shields</option><option value="10">Helms</option><option value="11">Armors</option><option value="12">Pants</option><option value="13">Gloves</option><option value="14">Boots</option><option value="15">Wings</option><option value="16">Rings</option><option value="17">Pendants</option><option value="18">Jewels</option><option value="19">Boxes</option><option value="20">Scrolls</option><option value="21">Orbs</option><option value="22">Компоненты билетов</option><option value="23">Билеты</option><option value="24">Potions</option><option value="26">Guardians</option><option value="99">Разное</option><option value="100">Кредиты</option>	</select></td></tr>
	<tr><td height="21">&nbsp;</td>
	<td height="21"><label><input name="exl" type="checkbox" value="1"/> <span style="vertical-align:2px">Excellent</span></label> <label><input name="anc" type="checkbox" value="1"/> <span style="vertical-align:2px">Ancient</span></label></td>
	</tr>
	</table>
</td>

<td width="33%" style="background-color: #0b171a;">
	<table class="small filter" width="100%" cellspacing="0" cellpadding="2" border="0">
	<tr><td class="vert" height="21" nowrap="nowrap">Уровень от:</td>
	<td class="vert"><select name="lvl1">
		<option value="-1">  </option>
		<option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option>	</select>	до <select name="lvl2">
		<option value="-1">  </option>
		<option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option>	</select></td></tr>
	<tr><td height="21" class="vert right" nowrap="nowrap"><label><input name="luck" type="checkbox" value="1"/> <span style="vertical-align:2px">Luck</span></label> <label><input name="skill" type="checkbox" value="1"/> <span style="vertical-align:2px">Skill</span></label></td>
	<td class="vert" nowrap="nowrap"><label><input name="pvp" type="checkbox" value="1"/> <span style="vertical-align:2px">PvP</span></label> <label><input name="harm" type="checkbox" value="1"/> <span style="vertical-align:2px">Harm</span></label></td></tr>
	<tr><td class="vert" height="21" nowrap="nowrap">JoL option от:</td>
	<td class="vert"><select name="opt">
		<option value="-1">Не важно</option>
		<option value="1">+4/+5/1%</option><option value="2">+8/+10/2%</option><option value="3">+12/+15/3%</option><option value="4">+16/+20/4%</option><option value="5">+20/+25/5%</option><option value="6">+24/+30/6%</option><option value="7">+28/+35/7%</option>	</select></td></tr>
	</table>
</td>

<td width="33%">
	<table class="small filter" width="100%" cellspacing="0" cellpadding="2" border="0">
	<tr><td class="vert" height="21" nowrap="nowrap">Для расы:</td>
	<td class="vert">
	<div class="right"><a href="javascript://" onclick="resetFilter();" style="color:darkcyan;" title="Сбросить параметры фильтра">сброс</a></div>
	<select name="race">
		<option value="-1">Любой</option>
		<option value="2">DK/BK/BM</option><option value="1">DW/SM/GM</option><option value="4">FE/ME/HE</option><option value="32">SU/BS/DiM</option><option value="8">MG/DM</option><option value="16">DL/LE</option>	</select>
	</td></tr>
	<tr><td height="21">&nbsp;</td><td>&nbsp;</td></tr>
	<tr><td class="vert" height="21" align="left" colspan="2" nowrap="nowrap">Цена:&nbsp; от <input name="cost1" type="text" value="" maxlength="5" size="6"/>
	до <input name="cost2" type="text" value="" maxlength="5" size="6"/><input name="costtype" type="hidden" value="0"/> &nbsp;<span id="ct_z" class="clk" onclick="chngCostType(1)" title="Нажмите, чтобы переключить на Tc"><span class="chng_cost_type_zen">kk Zen</span></span><span id="ct_tc" class="clk" style="display:none" onclick="chngCostType(0)" title="Нажмите, чтобы переключить на Zen">&nbsp; <span class="chng_cost_type_tc"><s>T</s>c</span> &nbsp;&nbsp;</span></td></tr>
	</table>
</td>
</tr>
</table>