<style type="text/css"><!--
fieldset.explicit-width{
    width: 30%; /* Will expand to fit content */
}
fieldset.inline-block{
    display: inline-block;
}
--></style>





<form name="filter" action="/t/" method="GET">
    {% csrf_token %}

    <input name="exl" type="text" value="1"/><br>
    <input name="exl" type="radio" value="2"/><br>
    <input name="exl" type="submit" value="3"/><br>

    ФИО:<br>
    <input type="text" name="name"><br>
    Tel:<br>
    <input type="text" name="telephone"><br>
    <input type="submit" align="right" value="Фільтрувати">





</form>


{#параметры фильтрации#}
{#1 блок работник#}
{#    ФИО(фамилия имя отчество в одном поле)#}
{#    Телефон (личный и рабочий в одном поле)#}
{#2 блок Прокуратура#}
{#    Название прокуратуры (список/название)#}
{#    Управление#}
{#    Отдел#}
