<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" />
    <title>Filter</title>
</head>
<body>
<section class="main">
    <h1>Прокуратура Одеської області</h1>

    <table class="simple-little-table" cellspacing='0'>


        <tr>
            <th width='50%'>#</th>
            <th width='50%'>Фамилия имя отчество</th>
        </tr>
        <tr>
            <th width='50%'>#</th>
            <th width='50%'>Фамилия имя отчество</th>
        </tr>
        <tr>
            <th width='50%'>#</th>
            <th width='50%'>Фамилия имя отчество</th>
        </tr>
        <tr>
            <th width='50%'>#</th>
            <th width='50%'>Фамилия имя отчество</th>
        </tr>


    </table>











</section>
</body>
</html>
















<style type="text/css"><!--
fieldset.explicit-width{
    width: 30%; /* Will expand to fit content */
}
fieldset.inline-block{
    display: inline-block;
}
--></style>





<form name="filter" action="/" method="GET" accept-charset="UTF-8" autocomplete="off">
    {% csrf_token %}

    ФИО:<br>
    <input type="text" name="emp_name"><br>
    Телефон:<br>
    <input type="text" name="telephone"><br>



    Прокуратура:
    <select name="pros_office">
        <option value=""></option>
        {% for office in prosecutorsoffices %}
            <option value={{ office.id }}>{{ office.name }}</option>
        {% endfor %}
    </select><br>

    Управление:
    <input type="text" name="department"><br>
    Отдел:
    <input type="text" name="division"><br>

    <input type="submit" align="right" value="Поиск">
</form>