{% extends "base.html" %}

{% block title %}The current time{% endblock %}

{% block content %}
<pre>


</pre>
{% for empl in employee %}
    <li>{{ empl }} {{ empl.position }} {{ empl.telephone }}</li>

{% endfor %}

{% endblock %}



{% block footer %}

<div style='margin-top:8px'><table class='mover' width='100%' border='0' align='center' cellspacing='1' cellpadding='3'>
<tr class='dark' style='font-weight: bold; text-align: center;'><td width='22'>#</td>
    <td width='14' title='Статус'>•</td>
    <td width='14' title='Достижения'><img src='/images/achievement/ach.png' width='16' height='16'/></td>
    <td width='86' align='left'>Ник</td>
    <td width='26' title='Раса'>&nbsp;</td>
    <td class='nopad' title='Ресет' width='28'><a href='plug.php?e=top'>Рес.</a></td>
    <td width='56' title='Уровень'>Уровень</td><td width='28' title='Master Level'>ML</td><td title='Strength (Сила)'><a href='plug.php?e=top&d=str'>Strength</a></td>
    <td title='Agility (Ловкость)'><a href='plug.php?e=top&d=agi'>Agility</a></td><td title='Vitality (Живучесть)'><a href='plug.php?e=top&d=vit'>Vitality</a></td>
    <td title='Energy (Энергия)'><a href='plug.php?e=top&d=ene'>Energy</a></td><td title='Command (Команда)'><a href='plug.php?e=top&d=com'>Command</a></td>
    <td width='80'>Гильдия</td></tr>
    {% endblock %}