{% load app_filters %}



{% for po in employees_dict %}
    {{ po }}
    <br>
    {#    Проверить если список пустой что будет, писать ли иф#}


    {% if employees_dict|tel_get:po|tel_get:'employees' %}

        ШАПКА
        <br>

        {% for employee in employees_dict|tel_get:po|tel_get:'employees' %}

            {{ employee }}
            <br>
        {% endfor %}
    {% endif %}



    {% for department in employees_dict|tel_get:po|tel_get:'departments' %}

        {{ department }}
        <br>

        {% if employees_dict|tel_get:po|tel_get:department %}

            ШАПКА
            <br>

            {% for employee in employees_dict|tel_get:po|tel_get:'departments'|tel_get:department|tel_get:'employees' %}

                {{ employee }}
                <br>
            {% endfor %}

        {% endif %}

        ТУТ фиачим отделы управления
        работники отделов




    {% endfor %}



        отделы прокуратуры
        работники отделов прокуратуры




{% endfor %}

