{% load app_filters %}



{% for po in employees_dict %}
    {{ po }}
    <br>


    {% if employees_dict|tel_get:po|tel_get:'employees' %}

        ШАПКА
        <br>

        {% for employee in employees_dict|tel_get:po|tel_get:'employees' %}

            {{ employee }}
            <br>
        {% endfor %}
    {% endif %}



    {% for department in employees_dict|tel_get:po|tel_get:'departments' %}

        {{ department }}
        <br>

        {% if employees_dict|tel_get:po|tel_get:'departments'|tel_get:department|tel_get:'employees' %}

            ШАПКА
            <br>

            {% for employee in employees_dict|tel_get:po|tel_get:'departments'|tel_get:department|tel_get:'employees' %}

                {{ employee }}
                <br>
            {% endfor %}
        {% endif %}

        {% for division in employees_dict|tel_get:po|tel_get:'departments'|tel_get:department|tel_get:'divisions' %}


            {{ division }}
            <br>

            {% for employee in employees_dict|tel_get:po|tel_get:'departments'|tel_get:department|tel_get:'divisions'|tel_get:division %}

                {{ employee }}
                <br>
            {% endfor %}
        {% endfor %}
    {% endfor %}



    {% for division in employees_dict|tel_get:po|tel_get:'divisions' %}
        {{ division }}
        <br>
        {% for employee in employees_dict|tel_get:po|tel_get:'divisions'|tel_get:division %}
            {{ employee }}
            <br>
        {% endfor %}
    {% endfor %}





{% endfor %}

