{% extends "base.html" %}
{% load app_filters %}

{% block title %}Структура Прокуратуры{% endblock %}


{% block content %}

    {% for po in structure %}
        {% if po.employee_set.count > 0 %}

            <a class="structure" style="font-size:22px;" href="/structure/{{ po.id }}/">{{ po }}</a><br>

        {% else %}
            {{ po }}<br>

        {% endif %}
        <ul>



            {% for department in structure|tel_get:po|tel_get:'departments' %}

                {% if department.employee_set.count > 0 %}

                    <li><a class="structure" style="font-size:19px;" href="/structure/{{ po.id }}/{{ department.id }}/">{{ department }}</a></li>

                {% else %}
                    <li>{{ department }}</li>

                {% endif %}


                <ul>
                    {% for division in structure|tel_get:po|tel_get:'departments'|tel_get:department %}

                        {% if division.employee_set.count > 0 %}

                            <li><a class="structure" href="/structure/{{ po.id }}/{{ department.id }}/{{ division.id }}/">{{ division }}</a></li>

                        {% else %}
                            <li>{{ division }}</li>

                        {% endif %}

                    {% endfor %}
                </ul>
                <hr>
            {% endfor %}



            {% for division in structure|tel_get:po|tel_get:'divisions' %}

                {% if division.employee_set.count > 0 %}

                    <li><a class="structure" href="/structure/{{ po.id }}/{{ division.id }}/">{{ division }}</a></li>

                {% else %}
                    <li>{{ division }}</li>

                {% endif %}


            {% endfor %}


        </ul>

    {% endfor %}


{% endblock %}