{% extends "base.html" %}
{% load app_filters %}

{% block title %}Структура{% endblock %}


{% block content %}

    {% for po in structure %}
       {{ po }}
        <ul>



            {% for department in structure|tel_get:po|tel_get:'departments' %}

                <li>{{ department }}</li>

                <ul>
                    {% for division in structure|tel_get:po|tel_get:'departments'|tel_get:department %}

                        <li>{{ division }}</li>

                    {% endfor %}
                </ul>
<hr>
            {% endfor %}



                {% for division in structure|tel_get:po|tel_get:'divisions' %}
                    <li>{{ division }}</li>

                {% endfor %}


        </ul>

    {% endfor %}




{% endblock %}