{% extends "base.html" %}
{% load app_filters %}

{% block title %}Структура{% endblock %}


{% block content %}

    {% for po in structure %}
        {% if po.employee_set.count > 0 %}

            <a href="/structure/{{ po }}/" class="url1">{{ po }}</a><br>

        {% else %}
            {{ po }}<br>

        {% endif %}
        <ul>



            {% for department in structure|tel_get:po|tel_get:'departments' %}

                {% if department.employee_set.count > 0 %}

                    <li><a href="/structure/{{ po }}/{{ department }}/" class="url1">{{ department }}</a></li>

                {% else %}
                    <li>{{ department }}</li>

                {% endif %}


                <ul>
                    {% for division in structure|tel_get:po|tel_get:'departments'|tel_get:department %}

                        {% if division.employee_set.count > 0 %}

                            <li><a href="/structure/{{ po }}/{{ department }}/{{ division }}/" class="url1">{{ division }}</a></li>

                        {% else %}
                            <li>{{ division }}</li>

                        {% endif %}

                    {% endfor %}
                </ul>
                <hr>
            {% endfor %}



            {% for division in structure|tel_get:po|tel_get:'divisions' %}

                {% if division.employee_set.count > 0 %}

                    <li><a href="/structure/{{ po }}/{{ division }}/" class="url1">{{ division }}</a></li>

                {% else %}
                    <li>{{ division }}</li>

                {% endif %}


            {% endfor %}


        </ul>

    {% endfor %}


{% endblock %}