<tr>
    <td width='2%'>{{ forloop.counter }}</td>
    <td width='20%'>
        {% if employee.photo %}
            <div onmouseover="showLinkImage('float_{{ employee.id }}')"
               onmouseout="hideLinkImage('float_{{ employee.id }}')">{{ employee }}</div>
            <div id="float_{{ employee.id }}" class="pop_up">
                <img src="/{{ employee.photo }}" class="pop_up_img"/>
            </div>
        {% else %}
            {{ employee }}
        {% endif %}
    </td>
    <td width='10%' title='Должность'>{{ employee.position }}</td>
    <td width='15%' title='Служебный телефон'>{{ employee.tel_work_escape|safe }}</td>
    <td width='15%' title='Мобильный телефон'>{{ employee.tel_private_escape|safe }}</td>
</tr>
{% if employee.secretary %}
    {% with employee=employee.secretary %}
        <tr>
            <td width='2%'></td>
            <td width='20%'></td>
            <td width='10%' title='Должность'>{{ employee.position }}</td>
            <td width='15%' title='Служебный телефон'>{{ employee.tel_work_escape|safe }}</td>
            <td width='15%' title='Мобильный телефон'>{{ employee.tel_private_escape|safe }}</td>
        </tr>
    {% endwith %}
{% endif %}