{% if temp_node.address or temp_node.tel_cod or temp_node.email_inside or temp_node.email_outside%}
    <div align="center"><table align="center" cellspacing="0" class="attr-table">
        {% if temp_node.address %}
            <tr>
                <th>Адрес: </th>
                <td><span  class="letter">{{ temp_node.address }}</span></td>
            </tr>
        {% endif %}
        {% if temp_node.tel_cod%}
            <tr>
                <th>Теллефонный код: </th>
                <td>{{ temp_node.tel_cod }}</td>
            </tr>
        {% endif %}
        {% if temp_node.email_inside or temp_node.email_outside%}
            <tr>
                <th colspan="2" align="center">Электронный адрес:</th>
            </tr>
            {% if temp_node.email_inside%}
                <tr>
                    <th>Внутренний: </th>
                    <td><a href="mailto:{{ temp_node.email_inside }}">{{ temp_node.email_inside }}</a></td>
                </tr>
            {% endif %}
            {% if temp_node.email_outside%}
                <tr>
                    <th>Внешний: </th>
                    <td><a href="mailto:{{ temp_node.email_outside }}">{{ temp_node.email_outside }}</a></td>
                </tr>
            {% endif %}
        {% endif %}
    </table></div>
{% endif %}